<tr>
  <td><%= book.id %></td>
  <td><%= book.author %></td>
  <td><%= book.title %></td>
  <td><%= book.user_id %></td>
  <td><%= book.state %></td>
  <td><%= button_to('Reserve', reserve_book_path(book), class: !book.unreserved? ? 'button_hidden' : '') %></td>
  <td><%= button_to('Pay', pay_book_path(book), class: !book.reserved? ? 'button_hidden' : '') %></td>
  <td><%= button_to('Return', unpay_book_path(book), data: { confirm: 'Are you sure?' }, class: !book.paid? ? 'button_hidden' : '') %></td>
</tr>