<tr id=<%= "row-book-#{book.id}" %> class=<%= book.reserved? ? 'book_reserved' : ''%>>
  <td><%= book.id %></td>
  <td><%= book.author %></td>
  <td><%= book.title %></td>
  <td id=<%= "user-book-#{book.id}" %>><%= book.user %></td>
  <td id=<%= "state-book-#{book.id}" %>><%= book.state %></td>
  <td>
    <%= link_to(book.unreserved? ? 'Reserve' : '', reserve_book_path(book), id: "bt-reserve-#{book.id}", remote: true, method: :post) %>
    <%= link_to('', pay_book_path(book), id: "bt-pay-#{book.id}", remote: true, method: :post) %>
    <%= link_to(book.paid? ? 'Return' : '', unpay_book_path(book), id: "bt-unpay-#{book.id}", remote: true, method: :post, data: { confirm: 'Are you sure?' }) %>
  </td>
  <td id=<%= "timeout-book-#{book.id}" %>></td>
</tr>