<tr id=<%= "row-book-#{book.id}" %> class=<%= book.reserved? ? 'book_reserved' : ''%>>
  <td><%= book.id %></td>
  <td><%= book.author %></td>
  <td><%= book.title %></td>
  <td><%= book.user_id %></td>
  <td id=<%= "book-state-#{book.id}" %>><%= book.state %></td>
  <td><%= button_to(book.reserved? ? 'Unreserve' : 'Reserve', reserve_book_path(book), id: "bt-reserve-#{book.id}", remote: true) %></td>
  <td><%= button_to('Pay', pay_book_path(book), id: "bt-pay-#{book.id}", remote: true, class: !book.reserved? ? 'button_hidden' : '') %></td>
  <td><%= button_to('Return', unpay_book_path(book), id: "bt-unpay-#{book.id}", remote: true, data: { confirm: 'Are you sure?' }, class: !book.paid? ? 'button_hidden' : '') %></td>
</tr>